# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: test

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies ./app/kasko/kasko.sln
      run: dotnet restore
    - name: Build
      run: dotnet ./app/kasko/kasko.sln build --no-restore
    - name: Test
      run: dotnet test ./app/kasko/kasko.sln --no-build --verbosity normal
